body, input {
	font-family: Tahoma, Arial, sans-serif; 
}

.wrapper {
	position: absolute;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    background-image: url(../img/background.jpg);
    background-position-y: 36px;
    background-size: cover;
}

/*HEADER*/

.header {
	background-color: #074f8f;
	font-size: 0;
	text-align: right;
}


.header li {
	display: inline-block;
	font-size: 14px;
	line-height: 36px;
}

a, .login span {
color: #60b5ed;
text-decoration: none;
}

.header ul li > a {
	display: block;	
}


.header li:first-child a {
	padding:0 12px;
}

.header li:nth-child(2) a {
	padding-left: 15px;
    padding-right: 12px;
}

.header li:nth-child(3) a {
	padding-left: 12px;
    padding-right: 13px;
}

.header li:nth-child(4) a {
	padding-right: 10px;
	padding-left: 13px;
}

.header li:nth-child(5) a {
	padding-right: 22px;
	padding-left: 20px;
}

.header li:nth-child(5)::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 31px;
    background-color: #60b5ed;
    top: 2px;
}

.header li:nth-child(6) a {
	color: #fff;
	padding-right: 17px;
	
}

.header img {
	padding-right: 10px;
	padding-left: 19px;
	padding-top: 6px;
    vertical-align: top;
}

.header ul li > a:hover, .header .login:hover a, .header .login:hover span {
	color: #fff;
}

.header ul li > a:hover {
	background-color: #4eabda;
}

.header .login {
	margin-right: 20px;
	padding-right: 13px;
	padding-left: 14px;
}

.header .login:hover {
	background: linear-gradient(to bottom, #51b1dc, #2e7ac4);
	border-left: 1px solid #54a1db;
	border-bottom: 1px solid #4299d2;
	border-right: 1px solid #52a0da;
	padding-left: 13px;
    padding-right: 12px;
    height: 35px;
	vertical-align: top;
}

.header .login:hover a {
	text-decoration: underline;
}	
	
.menu-border {
	display: inline-block;
	width: 1px;
	height: 31px;
	vertical-align: bottom;
    margin-bottom: 3px;
	background-color: #60b5ed;
}

/*MODEL*/

.modal {
	position: absolute;
	width: 560px;
	height: 613px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

 .modal .modal-header,.modal  .modal-content {
	background-color: rgba(0,0,0,0.63);
}

.modal .modal-header {
	height: 62px;
	margin-bottom: 2px;
	text-align: center;
	line-height: 62px;
}

.modal h1 {
	font-size: 24px;
	color: #fff;
}

.modal .modal-content {
	height: 549px;
	text-align: center;
}

.modal .modal-content .fb {
    padding: 36px 0 28px 0;
    margin: auto;
}

.modal .border {
	display: inline-block;
	width: 122px;
	height: 1px;
	background-color: #666;
	border-bottom: 1px solid #000;
	vertical-align: middle;
}

.modal form {
	padding: 30px 0 10px 0;
}

.modal .modal-content span,.modal input,.modal label,.modal form p {
	color: #bbbbbb;
}

.modal ::placeholder {
	color: #bbbbbb; 
 }

.modal  ::-ms-input-placeholder {
	color: #bbbbbb; 
 }
 

.modal .modal-content span, .modal  input, .modal  label {
	font-size: 14px;
}

.modal input[type="text"], .modal input[type="email"], .modal input[type="password"] {
	width: 276px;
    display: block;
    height: 36px;
    background-color: #0f0e0e;
    border: 0;
    border-bottom: 1px solid #484948;
    padding: 0 0 0 19px;
    margin: 0 auto 16px auto;
    box-sizing: border-box;
}

.modal input[type="text"]:focus, .modal input[type="email"]:focus, .modal input[type="password"]:focus {
	outline: none;
	box-shadow: 0px 0px 8px 3px rgba(75, 134, 175, 1);
	background-color: #1b5288;
	border-bottom: 1px solid #689bcc;
}

.modal input[type="button"] {
	color: #fff;
	width: 151px;
	height: 37px;
	background: linear-gradient(to bottom, #6bb8e7, #2e7ac4);
	cursor: pointer;
	border-style: none;
	border-radius: 3px;
    padding: 0;
	margin:19px 0 16px 0;
}

.modal label input {
	vertical-align: text-top;
}

.modal form label {
	display: block;
    margin: 19px 0px 0px -40px;
	cursor: pointer;
}

.modal form p {
	font-size: 11px;
	line-height: 16px;
	width: 310px;
    margin: auto;
    text-align: center;
}